
 <div class="nested-fields">
      <%= f.label :cotent %>
      <%= f.text_field :content %>      
      <%= f.file_field :cooking_image, id:"cooking_image", style: "display: "";" %>
            <div id="image-list"></div>
      

        

     <div>
         <%= link_to_remove_association "削除", f %>
     </div>
 </div>


